In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [2]:
dif = pd.read_csv('/Users/luismoreira/Desktop/Final_project/Databases/dif.csv')
dni = pd.read_csv('/Users/luismoreira/Desktop/Final_project/Databases/dni.csv')
ghi = pd.read_csv('/Users/luismoreira/Desktop/Final_project/Databases/ghi.csv')
gti = pd.read_csv('/Users/luismoreira/Desktop/Final_project/Databases/gti.csv')
opta = pd.read_csv('/Users/luismoreira/Desktop/Final_project/Databases/opta.csv')

In [3]:
#def join_tables(df):
    
print(dif.shape)
print(dni.shape)
print(ghi.shape)
print(gti.shape)
print(opta.shape)

(1812133, 5)
(1812133, 5)
(1812133, 5)
(1812133, 5)
(10453, 5)

In [4]:
def drop_col(df):
    
    df = df.drop(['Unnamed: 0', 'index'], axis=1)
    return df

In [5]:
dif = drop_col(dif)
dni = drop_col(dni)
ghi = drop_col(ghi)
gti = drop_col(gti)

In [6]:
print(dif.head())
print(dni.head())
print(ghi.head())
print(gti.head())

     long     lat      DIF
0 -8.2050  42.235  578.191
1 -8.2025  42.235  582.939
2 -8.2000  42.235  584.765
3 -8.1975  42.235  584.035
4 -8.1950  42.235  574.904
     long     lat       DNI
0 -8.2050  42.235  1482.185
1 -8.2025  42.235  1490.585
2 -8.2000  42.235  1487.298
3 -8.1975  42.235  1469.766
4 -8.1950  42.235  1397.446
     long     lat       GHI
0 -8.2050  42.235  1453.330
1 -8.2025  42.235  1459.174
2 -8.2000  42.235  1459.539
3 -8.1975  42.235  1454.791
4 -8.1950  42.235  1427.397
     long     lat       GTI
0 -8.2050  42.235  1688.186
1 -8.2025  42.235  1688.916
2 -8.2000  42.235  1687.455
3 -8.1975  42.235  1684.898
4 -8.1950  42.235  1660.426

In [7]:

def merge_4_df(df1,df2,df3,df4):
    
    a = pd.merge(left=df1,right=df2, left_index=True, right_index=True)
    b = pd.merge(left=a,right=df3, left_index=True, right_index=True)
    c = pd.merge(left=b,right=df4, left_index=True, right_index=True)
    
    return c

In [8]:
joined_features = merge_4_df(dif,dni,ghi,gti)
joined_features.columns

/var/folders/mg/hz10g1l14916bvkqvy7r1fg40000gn/T/ipykernel_64961/1693675010.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'long_x', 'lat_x'} in the result is deprecated and will raise a MergeError in a future version.
  c = pd.merge(left=b,right=df4, left_index=True, right_index=True)

Index(['long_x', 'lat_x', 'DIF', 'long_y', 'lat_y', 'DNI', 'long_x', 'lat_x',
       'GHI', 'long_y', 'lat_y', 'GTI'],
      dtype='object')

In [9]:
joined_features.columns = ['long', 'lat', 'DIF', 'long_y', 'lat_y', 'DNI', 'long_x', 'lat_x','GHI', 'long_y', 'lat_y', 'GTI']
joined_features = joined_features.drop(['long_y', 'lat_y', 'long_x', 'lat_x','long_y', 'lat_y'], axis=1)
joined_features.head()

     long     lat      DIF       DNI       GHI       GTI
0 -8.2050  42.235  578.191  1482.185  1453.330  1688.186
1 -8.2025  42.235  582.939  1490.585  1459.174  1688.916
2 -8.2000  42.235  584.765  1487.298  1459.539  1687.455
3 -8.1975  42.235  584.035  1469.766  1454.791  1684.898
4 -8.1950  42.235  574.904  1397.446  1427.397  1660.426

In [11]:
# joined_features.to_csv('additional_features.csv')

In [ ]:
"""
locator = Nominatim(user_agent="myGeocoder", timeout=20)
rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)

def add_address(df):
    
    df['coordinates'] = df['lat'].map(str) + ',' + df['long'].map(str)
    
    df['Address'] = df['coordinates'].apply(rgeocode)
    
    return df
"""

In [ ]:
joined_address = add_address(joined_features)